body {
	font-family: Verdana, Geneva, Tahoma, sans-serif
}

ol.list1 {
	width: 420px;
	height: 210px;
	margin: 0;
	background-color: #ed9eae;
	color: white;
	padding: 15px;
}

ol.list1 li {
	padding-left: 9px;
	list-style-position: inside;
	margin: 8px;
	background-color: #c66376;
}


.mark {
	margin: 0;
	margin-left: -6px;
	padding: 6px 10px;
	text-align: center;
	display: inline-block;
	background-color: #9e354a;
}

ul {
	margin: 8px;
	padding: 0;
	list-style-type: none;
	list-style-position: inside;
}

ul li {
	padding: 16px 16px 16px 32px;
}

ul li::before {
	list-style-image: url("../Image/unchecked_16.png")
}

.unchecked,
.unchecked1 {
	list-style-image: url("../Image/unchecked_16.png")
}

ul li:nth-child(even) {
	background-color: #a5ccda;
}

ul li:nth-child(odd) {
	background-color: #add8e6;
}

.checked {
	background-color: #e2e2e2;
	list-style-image: url("../Image/checked_16.png");
}

ul li::after {
	content: url("../Image/X.png");
	padding-left: 16px;
}


dt {
	font-style: italic;
	margin: 30px 0px;
}

dd {
	padding: 0;
	margin: 0;
}

.grey {
	color: grey;
	margin: 4px 0px;
	padding: 0;
}

.blue {
	margin: 4px 0px;
	padding: 0;
	color: blue;
}

ol.list2 {
	margin: 0;
}

ol.list2 li {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}