table {
	margin: auto;
	margin-top: 20px;
	padding: 20px;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	width: 80%;
	border: 1px solid black;
	border-collapse: collapse;
}

table td {
	border-collapse: collapse;
	border: 1px solid black;
	padding: 8px;
}

div {
	display: flex;
	margin: 8px;
	padding: 8px;
	width: 100vw;
	align-items: center;
	justify-content: center;
}



input,
button {
	margin: 8px;
	font-size: 1.3em;
}