@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	font-family: "Roboto", sans-serif;
}

body {
	margin: 10px auto;
	background-image: url(../IMG/images.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.container {
	box-shadow: 12px 12px 24px 6px black;
	padding: 20px;
	border: 1px solid black;
	backdrop-filter: brightness(80%);
	color: white;
	width: 50%;
	height: 60vh;
	margin: 60px auto;
	padding: 20px 40px 40px 40px;
}

form {
	margin-top: 32px;
	display: grid;
	grid-template-columns: 16% 18% 18% 18% 18%;
	grid-template-rows: 40% 40% 40% 40% 40%;
	row-gap: 6%;
	column-gap: 2.5%;
}

input,
select {
	padding: 12px;
	border: none;
	outline: none;
	text-align: left;
	font-size: 14px;
}

span {
	font-size: 1.1em;
}

label {
	padding-top: 6px;
}

.username {
	grid-column: span 2;
}

.usersurname {
	grid-column: span 2;
}

input[type=email] {
	grid-column: span 4;
}

#tel {
	grid-column: span 2;
}

select {
	grid-column: span 4;
}

textarea {
	resize: none;
	grid-column: span 4;
}

.line {
	border-bottom: white 2px solid;
	grid-column: span 5;
}

button {
	grid-column-start: 2;
	grid-column-end: 6;
	cursor: pointer;
	color: white;
	background: none;
	border: 2px solid white;
	padding: 8px;
	font-size: 1.2em;
	font-weight: bold;

}